<!DOCTYPE html>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<html lang="en">
<head>
    <style>
        body {
            background: url("https://images.pexels.com/photos/3802667/pexels-photo-3802667.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
            width: 100%;
            height: 100%;
            z-index: 0;
            position: absolute;
            font-family: 'Lora', serif;
            /*font-weight: 500;*/
            /*min-width: 2280px;*/
        }
    </style>
    <meta charset="UTF-8">
    <title>test form</title>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a href="/" class="btn btn-light btn-lg"
       role="button">&#8249</a>
</nav>
    <h1>{{balance}}</h1>
</form>
</body>
</html>
